.register-services-container {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #F9F9F9;

}

.main-content-services {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    width: calc(100% - 300px); 
    height: 100vh;
    padding: 30px 120px; 
    margin-left: 300px; 
    gap: 3rem;
}

.cardSection{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.left-sb {
    display: flex;
    width: 300px;
    height: auto;
    position: fixed;
}