.btn-submit {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .btn-submit button {
    background: black;
    color: white;
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;

  }
  
  .btn-submit button:hover {
    background: #0a0e14;
    transform: scale(1.05);

    
  }
  