.register-services-container {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
}

.main-content-services {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  width: calc(100% - 300px);
  height: 100vh;
  padding: 30px 60px;
  margin-left: 300px;
  gap: 3rem;
}

.left-sb {
  display: flex;
  width: 300px;
  height: auto;
  position: fixed;
}
